*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgb(0, 0, 0, 0.4)),url(mhf.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: red;
    text-shadow: white;
}
.form-box{
    width: 360px;
    height: 480px;
    position: absolute;
    top: -20px;
    left: 870px;
    margin: 6% auto;
    background: black;
    padding: 5px;
    overflow: hidden;
    border-radius: 10px;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff1038,#ff4006);
    border-radius: 30px;
    transition: 0.5s;
}
.social-icons{
    margin: 30px auto;
    text-align: center; 
}
.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #ff000000;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid rgb(255, 0, 0);
    outline: none;
    background: none;
    border-radius: 1px;
    color: rgb(255, 255, 255);
}
.forgot{
    float: right;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff1038,#ff4006);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#signup{
    left: 450px;
}