/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1ecec;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  } 
  *
  {
      font-family: Avenir, Helvetica, Arial, sans-serif;
  }
    #header
    {
        display: flex;
        align-items: center;
        width: 100%;
    }

    #content
    {
        display: flex;
        justify-content: center;
        background-image: url(Wave.svg);
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: 100% auto;
        background-position: bottom center;
        padding-bottom: 100px;
        height: 100vh;
    }

    #content > *
    {
        margin-left: 40px;
        margin-right: 40px;
        width: 100%;
    }

    #content > *:not(#question-step)
    {
        max-width: 500px;
    }

    #marketing
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 450px;
    }

    #marketing > *
    {
        width: 100%;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    #marketing img
    {
        margin: 10px auto;
    }

    #features > *
    {
        margin: 0 auto;
    }

    #headline
    {
        color: #f71d1d;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
    }

    #features
    {
        display: flex;
        justify-content: center;
    }

    #features *
    {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }


    .display-none,
    .custom-select.display-none,
    .form-control.display-none
    {
        display: none !important;
    }

    form
    {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        min-height: 400px;
        background: #f5f5f5;
        border-radius: 10px;
    }

    form > *:not(.back)
    {
        margin: auto 50px;
    }

    form > :first-child:not(.back)
    {
        margin-top: 35px;
    }

    form > :last-child:not(.disclaimer)
    {
        margin-bottom: 35px;
    }

    .back
    {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    a.back,
    a.back:hover
    {
        color: #173962;
        font-weight: bold;
        text-decoration: none;
    }

    .form-middle
    {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heading
    {
        color: #173962;
        font-size: 24px;
        font-weight: 900;
        padding: 20px 0;
        text-align: center;
    }

    .form-group
    {
        margin-bottom: 0 !important;
    }

    .form-control
    {
        text-align: center;
    }

    .invalid-feedback
    {
        margin: .25rem auto;
        visibility: hidden;
        display: block !important;
        text-align: center;
    }

    .was-validated .form-control:invalid~.invalid-feedback,
    .was-validated .custom-select:invalid~.invalid-feedback
    {
        visibility: visible;
    }

    form .disclaimer
    {
        font-size: 13px;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .disclaimer > a,
    .disclaimer > a:hover
    {
        color: #000000;
        text-decoration: underline;
    }

    form .button
    {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        background: #ff9400;
        border-color: #ff9400;
        width: 200px;
        margin: 10px auto;
    }

    form .button:hover
    {
        color: #ffffff;
        background: #f47820;
    }

    